extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner MONITOREO VOLCÁNICO
    div.Message
      div.Title
        h3 MONITOREO VOLCÁNICO
        h1 api for data opload/download
        a(href="/")
          div.NavButton home
    div