extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner MONITOREO VOLCÁNICO
    div.Message
      div.Title
        h3 empty dataset
        h1 upload first file
      form(action='/add_movie', method='POST')
        input.UploadButton(type='file', name='droneFile', value='')
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in