@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;
  --core-font: "Merriweather Sans", sans-serif;

  --primary: #ffffff;
  --secondary: #2a3747;
  
  --background: white;
  --highlight: #fa4141;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: var(--secondary);
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  padding: 20px;

  font-family: var(--core-font);
  
  position: fixed;
  background: url("../img/volcan-gr.jpg") center center;
  background-size: cover;
}

.Logo{
  margin: 5px;
  height: 75px;
  width: 75px;
}

.Banner {
  position: relative; /* soo that i can relocate the options inside*/

  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  border-radius: 5px;

  background: var(--background);
  padding: 15px;

  box-shadow: var(--ui-shawdow);

  font-family: var(--logo-font);
}
.Banner > * {
  font-family: inherit;
}

.Options{
  position: absolute;
  top: 15px;
  right: 20px;

  display: flex;
  flex-direction: row;
}
.Options > *:hover {
  cursor: pointer;
}
.Options > .Eye:hover {
  color: #2196f3;
}
.Options > .Delete:hover,
.Options > .Close:hover{
  color: red;
}

.HorizontalContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FullContainer{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
}

.CardContainer{
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin-top: 10px;
}
.Card {
  position: relative; /* soo that i can relocate the options inside*/

  background: var(--background);
  padding: 30px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: var(--ui-shawdow);
}
.Card > .Details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.Fill{
  width: 100%;
  height: 100%;
}

.NavButtons {
  display: flex;
  width: 100%;
  align-items: flex-end;
  padding: 0 20px;
}
.NavButtons > * {
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 55px;
  font-size: 16px;
  font-weight: bold;
  color: white;

  background: var(--highlight);
  border-radius: 30px;
  box-shadow: var(--ui-shawdow);

  cursor: pointer;
}

/*The Modal (background)*/
.Modal {
  display: none; /* Hidden by default */

  width: 100%;
  height: 100%;
  z-index: 1; /* Sit on top */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);

  justify-content: center;
  align-items: center;
}
.Form {
  position: relative; /* soo that i can relocate the options inside*/
  
  background: var(--background);
  border-radius: 15px;
  padding: 30px;
  box-shadow: var(--ui-shawdow);
}
.Form > .File{ /*basically just make it invisible, but dont limit its access*/
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}
.Form > .FileLabel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 120px;
  border-radius: 30px;
  font-size: 16px;
  background: var(--highlight);
  font-weight: bold;
  color: var(--primary);
  box-shadow: var(--ui-shawdow);
  
  cursor: pointer;
}
.Form > .Button {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 140px;
  background: var(--highlight);
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary);
  box-shadow: var(--ui-shawdow);
}
.Form > .Submit {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  background: var(--highlight);
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary);
  box-shadow: var(--ui-shawdow);
}

